@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500;1,600;1,700&display=swap');

:root{
  /* --orange: linear-gradient(90deg,#c7c5f4, #776bcc) */
  /* --orange:#db4744; */
  /* --orange:#1da1f2; */
  --orange:#1d4ed8cc;
  /* --orange:#ec4899; */
  /* --orange:#a855f7; */



  /* background: linear-gradient(90deg,#c7c5f4, #776bcc) */
}
*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Nunito', sans-serif;
}
